@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0d1117;
  color: #d1d5db; /* equivalent to text-gray-300 */
  font-family: system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #2f81f7;
  border-radius: 10px;
}